<p><%= @list.name %></p>
<p><%= @list.description %></p>

<% if user_signed_in? %>
    <% if current_user.id == @list.user_id %>
        <%= link_to "Edit", edit_user_list_path(@list) %>
        <%= link_to "Delete", user_list_path(@list), method: :delete %>
    <% end %>
<% end %>