<div class="container">
    <div class="row">
        <div class="col">
            <h1>Movies</h1>

            <ul class="list-group">
                <% @movies.each do |movie| %>
                    <li class="list-group-item"><%= link_to movie.title, movie_path(movie) %></li>
                <% end %>
            </ul>

        </div>
        <div class="col">
            <h1>Lists</h1>
            
            <ul class="list-group">
                <% @lists.each do |list| %>
                    <li class="list-group-item"><%= link_to list.name, user_list_path(@user, list.user_id) %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
